.formContainer,.inputsContainer {
  max-width: 800px;
  width: 100%;
}

.input {
  width: 100%;
  padding: 0.5em;
  margin: 0.25em 0;
  border: 2px solid black;
  border-radius: 4px;
}

.input:focus {
  border: 5px solid #555;
}

.textarea {
  height: 9em;
}

#submit {
  color: white;
  background: -webkit-linear-gradient(left, darkorange , red);
  background: -o-linear-gradient(right, darkorange, red);
  background: -moz-linear-gradient(right, darkorange, red);
	background: linear-gradient(to left, #65E727, #529D62); 
}

#submit:hover {
  border: 2px solid red;
  font-weight: bold;
  color: red;
  background: white;
}

.button {
  padding: 0.5em 1.0rem;
  margin: 0.5em 0em;
  border: 0px solid white;
  border-radius: 4px;
}

.button:hover {
  color: black;
  border: 2px solid black;
  font-weight: bold;
  background: white;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.label {
  width: 100%;
  padding: 0.2em 0.1em;
  margin: 0.25em 0;
}
