.mapDescription {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form {
  height: 100%;
  width: 100%;
  padding: 0 1em 1em 0;
}

.noForm {
  display: none;
}

.description {
  height: 100%;
  width: 100%;
	margin-bottom: 2em; 
}

.fontDescription {
  font-size: 1.5em;
}

.titleH2 {
  font-size: 2em;
  margin-top: 0;
}

.button {
  padding: 0.5em 1.0rem;
  margin: 0.5em 0em;
  border: 0px solid white;
  border-radius: 4px;
  color: white;
	background: linear-gradient(to left,  #529D62, #65E727); 
}

.button:hover {
  border: 2px solid #529D62;
  color: #529D62;
  background: white;
}

@media (max-width: 800px) {
  .mapDescription {
    flex-direction: column;
    height: 100%;
  }
  .description {
    margin-bottom: 1em;
  }
}
