.button {
  font-size: 2em;
  font-weight: bold;
  padding: 0.2em 0.5em;
  margin: 0.5em 0em 0 0;
  border: 0px solid white;
  border-radius: 4px;
  color: white;
	background: linear-gradient(to left, #65E727, #529D62); 
}

.button:hover {
  border: 2px solid #529D62;
  font-weight: bold;
  color: #529D62;
  background: white;
}

.link {
  border-bottom: 5px solid #529D62);
}

.link:hover {
  font-weight: bold;
  border-bottom: 5px solid #529D62;
}
