.button {
  font-size: 3em;
  font-weight: bold;
  padding: 0.5em 1.0em;
  margin: 0.5em 0em;
  border: 0px solid white;
  border-radius: 4px;
  color: white;
  background: -webkit-linear-gradient(left, darkorange , red);
  background: -o-linear-gradient(right, darkorange, red);
  background: -moz-linear-gradient(right, darkorange, red);
  background: linear-gradient(to right, darkorange , red); 
}

.button:hover {
  border: 2px solid red;
  font-weight: bold;
  color: red;
  background: white;
}

.link {
  border-bottom: 5px solid darkorange;
}

.link:hover {
  font-weight: bold;
  border-bottom: 5px solid red;
}
