#nav {
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;
  padding: 1em;
  background-color: white;
  top: 0;
  overflow: hidden;
  border-bottom: 1px solid #eaeaea;

  a {
    display: block;
    float: left;
    margin: 1rem;
    font-size: 1.5rem;
  }

  a:hover {
    font-weight: bold;
  }
}

.logo {
  height: 3em;
  margin: 1em 0;
}

.link,.collapse {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.collapse {
}

.scrolled {
  position: sticky;
  top: 0;
  width: 100%;
  animation: smoothScroll 1s forwards;

  @keyframes smoothScroll {
    0% {
      transform: translateY(-40px);
    }
    100% {
      transform: translateY(0px);
    }
  }

}
              
@media (max-width: 800px) {
  #nav {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    a {
      margin: 0.5rem 0em;
      font-size: 1.5rem;
    }
  }

  .scrolled {
    position: none;
  }

  .link {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    
    a {
      margin: 0.5rem 0em;
      font-size: 1.5rem;
    }
  }

  .collapse {
    display: none;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }

}
