#nav {
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;
  padding: 0 1em;
  background-color: white;
  top: 0;
  overflow: hidden;
  border-bottom: 1px solid #eaeaea;

  a {
    display: block;
    float: left;
    margin: 1rem;
    font-size: 1.5rem;
  }

  a:hover {
    font-weight: bold;
    border-bottom: 5px solid orange;
    padding-bottom: 2px;
    padding-top: 7px;
    width: fit-content;
  }
}

.underline {
  width: fit-content;
  border-bottom: 5px solid darkorange;
  padding-bottom: 2px;
  padding-top: 7px;
}

.logo {
  height: 3em;
  margin: 1em 0;
}

#logoCss {
  margin: 0.5em 0;
  font-size: 1em;
  font-weight: bold; 
  border: 5px solid black;
  width: fit-content;
  padding: 0.2em 0.6em; 
  display: block;
  align-items: center;
  justify-content: center;

  a {
    margin: 0; 
    font-size: 2em;
  }

  a:hover {
    margin: 0; 
    padding: 0; 
    border-bottom: 0px solid white;
  }
}

#logoCss:hover {
  border: 5px solid white; 
  background: -webkit-linear-gradient(left, darkorange , red);
  background: -o-linear-gradient(right, darkorange, red);
  background: -moz-linear-gradient(right, darkorange, red);
  background: linear-gradient(to right, darkorange , red); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link,.collapse {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropdown {
  position: absolute;
  top: 81px;
  display: flex;
  flex-direction: column;
  background: whitesmoke;
  border: 2px solid black;
  border-radius: 5px;

  a {
    display: block;
    margin: 1em;
    font-size: 1em;
  }
}

.collection {
  display: flex;
  margin: 0 0.5em;
  font-size: 1.5em;
  align-items: center;

}

.dropCollapse {
  display: none;
}

.icon {
  height: 1em;
}

.icon:hover {
  height: 1.2em; 
}

.scrolled {
  position: sticky;
  top: 0;
  width: 100%;
  animation: smoothScroll 1s forwards;

  @keyframes smoothScroll {
    0% {
      transform: translateY(-40px);
    }
    100% {
      transform: translateY(0px);
    }
  }

}
              
@media (max-width: 800px) {
  #nav {
    flex-direction: column;
    align-items: flex-start;
    
    a {
      margin: 0.5rem 0em;
    }
  }

  #logoCss {
    a {
      margin: 0; 
    }
  }

  .scrolled {
    position: none;
  }

  .link {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    
    a {
      margin: 0.5rem 0em;
      font-size: 1.5rem;
    }
  }

  .collection {
    display: flex;
    flex-direction: column;
    align-items: normal;
    margin: 0;
    a {
      margin: 0;
    }
  }

  .icon {
    display: none;
  }

  .dropCollapse,.dropdown {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    a {
      width: fit-content; 
    }
  }

  .collapse {
    display: none;
  }

}
